.logIn {
  font-family: "Permanent Marker", cursive;
  border: 1px solid white;
  background: transparent;
  border-width: 1px 2px 2px 1px !important;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95% !important;
  transform: rotate(2deg) !important;
  padding: 2%;
}
